.product-section {
    margin: 50px 10px;
    text-align: center;
    align-items: center;
}
.product-section h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    padding: 20px;
    color:#010519;
    text-align: left;   
    transition: transform 0.3s ease;
}
.product-card:hover {
    transform: translateY(-10px);
}
.product-card img {
    width: 100%;
    border-radius: 8px;
}
.product-card h4 {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0 10px;
    font-size: 1.3rem;
}
.product-card p {
    font-size: 1rem;
    margin-bottom: 15px;
}
.product-card a {
    color: #4b68ff;
    font-weight: bold;
}
